.ddd_heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ddd_heading h4{
  color: rgb(97, 91, 91);
  font-size: 21px;
  line-height: 23px;
  font-weight: 500;
}
.ddd_heading h5{
  color: rgb(91, 122, 150);
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}