/* hero start */
/* hero carousel*/
.carousel-control-prev,
.carousel-control-next{
  display: none;
}
.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: crimson;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel_caption{
  position: relative;
}
.caption_caousel{
  width: 600px;
  height: 400px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -30%);
  margin-bottom: 20px;
  text-align: start;
}
.carousel_caption img{
  width: 100%;
  object-fit: cover;
}
.caption_caousel p{
  font-size: 19px;
}
.furn_comp_btn{
  border: none;
  outline: none;
  background-color: #4bcffa;
  color: #fff;
  padding: 10px 20px;
  font-size: 19px;
  font-weight: 400;

}

/* hero end */



.fourtune_section{
  margin: 60px 0%;
}
.top_tategories{
  border-bottom: 2px dotted #4bcffa;
}
.right_menu .furniture_left_des{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: antiquewhite;
  padding: 20px 20px;
  width: 100%;
  height: 230px;
}
.right_menu .furniture_left_des img{
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.furniture_right_des{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aliceblue;
  padding: 40px;
  width: 100%;
  height: 230px;
}
.furniture_right_des h4{
  font-size: 16px;
  padding-top: 25px;
}
.fournt_right_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
/* fouth_right */
/* .fourniture_bottom_hero */
/* fourniture_bottom_hero */
.fourniture_bottom_hero{
  margin-top: 30px;

}
.fourniture_bottom_hero .left_fouriture_des{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F8EFBA;
  width: 100%;
  height: 430px;
}
.furntine_t_des{
  padding: 20px 0;
}
.furntine_t_des p{
  z-index: 9999;
}
.furntine_t_des h1{
  color:#4bcffa;
  font-size: 40px;
  font-weight: 800;
}
.fourniture_bottom_hero .left_fouriture_des img{
  height: 400px;
  width: 400px;
  margin-top: -140px;

}








/* sdfgrg */
.right_fouriture_des{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkseagreen;
  width: 100%;
  height: 204px;
}
.furntine_desc{
  padding: 30px 10px;
}
.right_fouriture_des h4{
  display: block;
  font-size: 16px;
}
.right_fouriture_des img{
  width: 150px;
  height: 150px;
}


/* furntiure_products */

.furntiure_products {

}
.products_furntiure{
  position: relative;
}
.products_furntiure .special_offer{
  position: absolute;
  width: 50px;
  height: 24px;
  background-color: #4bcffa;
  text-align: center;
  color: #fff;
  top: 20px;
  left: 20px;
}
.products_furntiure .special_offer p{
  font-size: 11px;
  font-weight: 100;
  padding: 10px;
}

.products_furntiure .product_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: gainsboro;
  padding: 40px;
}
.products_furntiure .product_img img{
  width: 100%;
}

.card_desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_desc .price{
  color: #4bcffa;
}
.card_desc .offers_price{
  text-decoration: line-through;
  margin-left: 30px;
  color: rgba(46, 43, 43, 0.8);
}
.card_desc .addtocard{
  border: 2px solid  #4bcffa;
  width: 34px;
  height: 25px;
  text-align: center;
  line-height: 30px;
  padding: 0px;
  padding-bottom: 30px;
  border-radius: 0;
  
}